body {
  font-family: Arial, sans-serif;
  background-color: #f6e6ff; /* morado pastel claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  color: #4a0072;
}

.contenedor {
  display: flex;
  gap: 10px;
}

input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#agregarBtn {
  background-color: #7b1fa2;
  color: white;
}

#agregarBtn:hover {
  background-color: #5e1681;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  width: 300px;
}

li {
  background: white;
  margin: 8px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.eliminarBtn {
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.eliminarBtn:hover {
  background-color: #9a0007;
}
